<form method="post" action="/new_post">
  <p>Title:</p>
  <input type="text" name="post[:title]">
  <p>Link:</p>
  <input type="text" name="post[:link]">
  <p>Body:</p> 
  <textarea name="post[:body]" cols="60" rows="6"></textarea>
  <input type="submit" value="Submit">
</form>
