<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class="nav">
      <img src="/img/GuyFawkes.png">
      <span class="left_nav">
        <a href="/">Fawkes News</a>
        <a href="/new">new</a>
        <a href="/comments">comments</a>
        <a href="/submit">submit</a>
      </span>
      <span class="right_nav">
        <% if session[:user_id] %>
          <a href="/users/<%= @user.id %>"><%= @user.name %></a>
          <a href="/logout">logout</a>
        <% else %>
          <a href="/login">login</a>
        <% end %>
      </span>
    </div>
    <%= yield %>
  </div>
</body>
</html>
