<html>
    <head>
        <title></title>
    </head>
    <body bgcolor="#FFFFFF" alink="#0000BE">
        You have to be logged in to submit.<br>
        <br>
        <b>Login</b><br>
        <br>
        <form method="post" action="/login">
            <table border="0">
                <tr>
                    <td>
                        username:
                    </td>
                    <td>
                        <input type="text" name="user[email]" size="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        password:
                    </td>
                    <td>
                        <input type="password" name="user[password]" size="20">
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" value="login">
        </form>
        <br>
        <br>
        <b>Create Account</b>
        <br>
        <br>
        <form method="post" action="/signup">
            <table border="0">
                <tr>
                    <td>
                        username:
                    </td>
                    <td>
                        <input type="text" name="user[name]" size="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        email:
                    </td>
                    <td>
                        <input type="text" name="user[email]" size="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        password:
                    </td>
                    <td>
                        <input type="password" name="user[password]" size="20">
                    </td>
                </tr>
            </table><br>
            <input type="submit" value="create account">
        </form>
    </body>
</html>
